<launch>
	<!-- dummy msg -->
	<node pkg="dummy_msg_publication" type="pointcloud2" name="pointcloud2" output="screen">
		<param name="hz" type="double" value="10.0"/>
		<param name="frame" type="string" value="frame"/>
		<param name="rand_range" type="double" value="100.0"/>
		<param name="num_points" type="int" value="100000"/>
	</node>

	<!-- rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find pc_transform_cuda)/rviz_config/dummy.rviz"/>

	<!-- main -->
	<node pkg="pc_transform_cuda" name="pc_transform_cuda" type="pc_transform_cuda" output="screen">
		<remap from="/point_cloud" to="/dummy/pointcloud2"/>
		<remap from="/point_cloud/transformed" to="/point_cloud/cuda_transformed"/>
		<param name="x_m" type="double" value="1.0"/>
		<param name="y_m" type="double" value="2.0"/>
		<param name="z_m" type="double" value="3.0"/>
		<param name="r_deg" type="double" value="10.0"/>
		<param name="p_deg" type="double" value="20.0"/>
		<param name="y_deg" type="double" value="30.0"/>
	</node>

	<node pkg="pc_transform_cuda" type="pc_transform_pcl" name="pc_transform_pcl" output="screen">
		<remap from="/point_cloud" to="/dummy/pointcloud2"/>
		<remap from="/point_cloud/transformed" to="/point_cloud/pcl_transformed"/>
		<param name="x_m" type="double" value="1.0"/>
		<param name="y_m" type="double" value="2.0"/>
		<param name="z_m" type="double" value="3.0"/>
		<param name="r_deg" type="double" value="10.0"/>
		<param name="p_deg" type="double" value="20.0"/>
		<param name="y_deg" type="double" value="30.0"/>
	</node>
</launch>